<%- include('partials/header')  %>

<h1>Compose</h1>
<form action="/compose" method="post">
    <label >Title</label>
    <div class="form-group">
    <input type="text" class="form-control" name="text1" id="" >

    <label >Post</label>
    <textarea name="post1" class="form-control" id="" cols="150" rows="5"></textarea>

</div>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>

<%- include('partials/footer')  %>